
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="img">
                <nav>
                    <img class="promo" src="@Url.Content("~/img/promo.jpg")" alt="Promotional Image">
                </nav>

            </div>
        </div>

        <div class="col-md-4">
            <main>
                <img class="img-logo" src="@Url.Content("~/img/F.png")" alt="Cajeme's food">
                <h1>Bienvenido al mejor restaurante de la ciudad</h1>
            </main>
        </div>

        <div class="col-md-4">
            <nav>
                <img class="img" src="@Url.Content("~/img/bongles2.jpg")" alt="bongles">
            </nav>
        </div>
    </div>
</div>


